
body{
    height: 100%;
    width: 100%;
    background: #FCFCFC;
    padding: 24px 96px;
}
html,main {
    height: 100%;
}

.card{
    padding: 24px;
    background: #fff;
    box-shadow: 1px 1px 6px 1px rgba(41, 70, 97, 0.1);
}

nav {
    width: 100%;
    height: 53px;
    display: flex;
    box-shadow: 0px 1px 3px -1px rgba(41, 70, 97, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #E9ECEF;
    background: #FCFCFC;
}
nav .icon{
    font-size: 36px;
    padding: 8px;
}
nav .add-button{
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    margin-top: 53px;
}
nav .logout-button {
     margin-left: auto;
     display: flex;
     justify-content: center;
     align-items: center;
}

.submit_button button{
    font-size: 15px;
    padding: 8px 10px;
    background: #3e78ad;
    color: #fff;
    border: 1px solid #3a66ad;
    box-shadow: 0 1px 1px 0 rgba(200,200,200,0.6);
    border-radius: 3px;
    font-weight: 500;
    margin-top: 18px;
}

input, textarea{
    margin: 8px 0;
    width: 100%;
    padding: 3px 5px;
    background: #fff;
    outline: 0;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(200,200,200,0.3);
    font-size: 15px;
}
textarea::-webkit-input-placeholder, input::-webkit-input-placeholder{
    color: gray;
    font-size: 15px;
}

input {

    height: 32px;
}
