/* Mobile */
@media only screen and (max-width: 767px) {
    .col-1-sm {width: 8.33%;}
    .col-2-sm {width: 16.66%;}
    .col-3-sm {width: 25%;}
    .col-4-sm {width: 33.33%;}
    .col-5-sm {width: 41.66%;}
    .col-6-sm {width: 50%;}
    .col-7-sm {width: 58.33%;}
    .col-8-sm {width: 66.66%;}
    .col-9-sm {width: 75%;}
    .col-10-sm {width: 83.33%;}
    .col-11-sm {width: 91.66%;}
    .col-12-sm {width: 100%;}
    .hide-sm{ display: none;}
}
/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .col-1-md {width: 8.33%;}
    .col-2-md {width: 16.66%;}
    .col-3-md {width: 25%;}
    .col-4-md {width: 33.33%;}
    .col-5-md {width: 41.66%;}
    .col-6-md {width: 50%;}
    .col-7-md {width: 58.33%;}
    .col-8-md {width: 66.66%;}
    .col-9-md {width: 75%;}
    .col-10-md {width: 83.33%;}
    .col-11-md {width: 91.66%;}
    .col-12-md {width: 100%;}
    .hide-md{ display: none;}
}
/* Desktop */
@media only screen and (min-width: 1024px) {
    .col-2-lg {width: 8.33%;}
    .col-2-lg {width: 16.66%;}
    .col-3-lg {width: 25%;}
    .col-4-lg {width: 33.33%;}
    .col-5-lg {width: 41.66%;}
    .col-6-lg {width: 50%;}
    .col-7-lg {width: 58.33%;}
    .col-8-lg {width: 66.66%;}
    .col-9-lg {width: 75%;}
    .col-10-lg {width: 83.33%;}
    .col-11-lg {width: 91.66%;}
    .col-12-lg {width: 100%;}
    .hide-lg{ display: none;}
}

body{
    height: 100%;
    width: 100%;
    background: #FCFCFC;
}
.register-wrapper{
    padding-top: 48px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    margin: auto;
    width: 350px;

    background: #fff;
    box-shadow: 2px 2px 6px 0 rgba(41, 70, 97, 0.1);
}
.register-wrapper .register{
    padding: 24px 24px 48px;
}
.register-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    text-align: center;
}
.register-header a{
    font-size: 3rem;
    font-weight: 600;
}
.submit_button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.submit_button button{
    font-size: 15px;
    padding: 8px 10px;
    background: #3e78ad;
    color: #fff;
    border: 1px solid #3a66ad;
    box-shadow: 0 1px 1px 0 rgba(200,200,200,0.6);
    border-radius: 3px;
    font-weight: 500;
    margin-top: 18px;
}

h1{
    font-size: 3rem;
}
input{
    margin: 8px 0;
    height: 32px;
    width: 100%;
    padding: 3px 5px;
    background: #fff;
    outline: 0;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(200,200,200,0.3);
    font-size: 15px;
}
input::-webkit-input-placeholder{
    color: gray;
    font-size: 15px;
}

.footer{
    padding: 24px;
    text-align: center;
    background: rgba(158, 158, 158, 0.1);

}

.footer a{
    color: #3e78ad;
}