.register, .login
{
    margin-top: 100px;
}

@media screen and (min-width: 600px)
{
    .register, .login
    {
        width: 500px;
        margin: 0 auto; 
        margin-top: 100px;     
    }
}
.random-button{
	float:right;
}
.content
{
    overflow: hidden;
}
ul {
  list-style-type: none;
}
ul li{
	margin-top:20px;
	margin-left:0px;
}
#categoriesHeader{
	margin-bottom:0px;
}
.categories-style{
	text-decoration: none;
	text-size: 1.4em;
	border-left: 3px solid black;
	padding:5px;
}
@media screen and (min-width: 600px)
{
    .content
    {
        width: 600px;
        margin: 0 auto;
        overflow: hidden;
    }
}

.content h3{
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
}

.panel-heading
{
    text-align: center;
    font-weight: bold;
}

.errors.alert
{
    margin-top: 15px;
}

.errors{
    display: block;
}

.content .info
{
    position: relative;
    padding-bottom: 30px;
}

.strong{
    font-weight: bold;
    padding-bottom: 5px;
}

.left{
    position: absolute;
    left: 0;
    top:0;
}

.right{
    position: absolute;
    right: 0;
    top:0;
}

.author{
    font-weight: normal;
    font-size: 0.8em;
}

.values{
    color: black;
}

.statistics h3{
    font-weight: normal;
    color: gray;
    font-size: 1.2em;
}
