.register, .login
{
    width: 500px;
    margin: 0 auto;
    margin-top: 100px;
}

.content
{
    width: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.content h3{
    margin-top: 20px;
    margin-bottom: 5px;
}

.panel-heading
{
    text-align: center;
    font-weight: bold;
}

.errors.alert
{
    margin-top: 15px;
}

.errors{
    display: block;
}

.content .info
{
    position: relative;
}

.content .author
{
    position: absolute;
    left: 0;
}

.content .time
{
    position: absolute;
    right: 0;
}